body{
	background-color:#CFCFCF;
	font:20px arial;
	text-align:center;
}

h1{
	font:20px arial;
	color:#3E3E3E;
	text-align:center;
}


h2{
	font:18px arial;
	color:red;
	text-align:center;
}


h3{
	font:18px arial;
}