body{
	background-color:black;
	font:20px arial;
	color:white;
	text-align:center;
}

h1{
	font:26px arial;
	color:white;
	text-align:center;
}


h2{
	font:24px arial;
	color:white;
	text-align:center;
}


h3{
	color:white;
	font:22px arial;
}

a:link, a:visited{
	color: white;
	text-decoration:none;
}